In [129]:
#Importing the all the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [131]:
#Reading  the data
data=pd.read_excel("DS - Assignment Part 1 data set.xlsx")

In [48]:
data.head()

,Transaction date,House Age,Distance from nearest Metro station (km),Number of convenience stores,latitude,longitude,Number of bedrooms,House size (sqft),House price of unit area
0,2012.916667,32.0,84.87882,10,24.98298,121.54024,1,575,37.9
1,2012.916667,19.5,306.59470,9,24.98034,121.53951,2,1240,42.2
2,2013.583333,13.3,561.98450,5,24.98746,121.54391,3,1060,47.3
3,2013.500000,13.3,561.98450,5,24.98746,121.54391,2,875,54.8
4,2012.833333,5.0,390.56840,5,24.97937,121.54245,1,491,43.1

In [49]:
data.shape

(414, 9)

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 9 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Transaction date                          414 non-null    float64
 1   House Age                                 414 non-null    float64
 2   Distance from nearest Metro station (km)  414 non-null    float64
 3   Number of convenience stores              414 non-null    int64
 4   latitude                                  414 non-null    float64
 5   longitude                                 414 non-null    float64
 6   Number of bedrooms                        414 non-null    int64
 7   House size (sqft)                         414 non-null    int64
 8   House price of unit area                  414 non-null    float64
dtypes: float64(6), int64(3)
memory usage: 29.2 KB

In [51]:
for column in data.columns:
    print(data[column].value_counts())

2013.416667    58
2013.500000    47
2013.083333    46
2012.916667    38
2013.250000    32
2012.833333    31
2012.666667    30
2013.333333    29
2013.000000    28
2012.750000    27
2013.166667    25
2013.583333    23
Name: Transaction date, dtype: int64
0.0     17
13.6     7
13.3     6
16.2     6
16.4     6
        ..
30.2     1
4.3      1
24.0     1
8.4      1
18.8     1
Name: House Age, Length: 236, dtype: int64
289.32480     13
90.45606      11
492.23130      9
1360.13900     8
104.81010      8
              ..
4527.68700     1
401.88070      1
432.03850      1
472.17450      1
390.96960      1
Name: Distance from nearest Metro station (km), Length: 259, dtype: int64
5     67
0     67
3     46
1     46
6     37
7     31
4     31
8     30
9     25
2     24
10    10
Name: Number of convenience stores, dtype: int64
24.97433    14
24.98203    13
24.96674     9
24.96515     9
24.96299     8
            ..
24.98034     1
24.97493     1
24.94898     1
24.98489     1
24.97923     1
Name: latitude, Length: 234, dtype: int64
121.54348    13
121.54310    11
121.53737     9
121.54391     8
121.54067     8
             ..
121.53951     1
121.54460     1
121.53778     1
121.49507     1
121.51243     1
Name: longitude, Length: 232, dtype: int64
1    141
2    137
3    136
Name: Number of bedrooms, dtype: int64
548     4
565     4
970     4
492     4
975     3
       ..
1098    1
870     1
1292    1
1110    1
1097    1
Name: House size (sqft), Length: 328, dtype: int64
42.5    4
40.3    4
29.3    4
40.6    4
37.4    4
       ..
55.9    1
22.9    1
21.5    1
55.1    1
63.9    1
Name: House price of unit area, Length: 270, dtype: int64

In [52]:
data.isna().sum()

Transaction date                            0
House Age                                   0
Distance from nearest Metro station (km)    0
Number of convenience stores                0
latitude                                    0
longitude                                   0
Number of bedrooms                          0
House size (sqft)                           0
House price of unit area                    0
dtype: int64

In [53]:
data.describe()

,Transaction date,House Age,Distance from nearest Metro station (km),Number of convenience stores,latitude,longitude,Number of bedrooms,House size (sqft),House price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,2013.148953,17.712560,1083.885689,4.094203,24.969030,121.533361,1.987923,931.475845,37.980193
std,0.281995,11.392485,1262.109595,2.945562,0.012410,0.015347,0.818875,348.910269,13.606488
min,2012.666667,0.000000,23.382840,0.000000,24.932070,121.473530,1.000000,402.000000,7.600000
25%,2012.916667,9.025000,289.324800,1.000000,24.963000,121.528085,1.000000,548.000000,27.700000
50%,2013.166667,16.100000,492.231300,4.000000,24.971100,121.538630,2.000000,975.000000,38.450000
75%,2013.416667,28.150000,1454.279000,6.000000,24.977455,121.543305,3.000000,1234.750000,46.600000
max,2013.583333,43.800000,6488.021000,10.000000,25.014590,121.566270,3.000000,1500.000000,117.500000

In [54]:
X=data.drop(columns=['House price of unit area'],axis=1)

In [55]:
Y=data['House price of unit area']

In [124]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import confusion_matrix,accuracy_score

In [57]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [111]:
Y_train.shape

(331,)

In [112]:
X_train.shape

(331, 8)

In [113]:
linaer=LinearRegression()

In [114]:
linaer.fit(X_train,Y_train)

LinearRegression()

In [115]:
pred=linaer.predict(X_test)

In [116]:
linaer.score(X_test,Y_test)

0.6559937962782111

In [117]:
tr=DecisionTreeRegressor()

In [118]:
tr.fit(X_train,Y_train)

DecisionTreeRegressor()

In [119]:
pr1=tr.predict(X_test)

In [123]:
tr.score(X_test,Y_test)

0.11582756322535481

In [125]:
rfr=RandomForestRegressor()

In [126]:
rfr.fit(X_train,Y_train)

RandomForestRegressor()

In [127]:
rfr.predict(X_test)

array([67.826, 18.174, 46.528, 18.721, 40.581, 38.002, 45.542, 37.805,
       58.981, 42.182, 44.405, 21.598, 37.386, 42.466, 55.887, 47.059,
       37.805, 50.247, 39.992, 44.244, 52.822, 27.171, 32.498, 50.232,
       54.156, 41.22 , 42.417, 23.193, 51.623, 23.072, 46.509, 30.804,
       52.965, 43.446, 42.111, 27.707, 46.596, 25.281, 53.498, 15.416,
       50.691, 37.014, 27.804, 48.726, 17.284, 40.535, 39.811, 16.603,
       26.461, 52.529, 59.472, 36.672, 46.041, 17.565, 26.864, 36.299,
       55.229, 38.654, 43.735, 29.28 , 41.095, 52.971, 38.755, 51.819,
       41.915, 25.369, 16.443, 22.532, 53.34 , 38.696, 23.899, 51.3  ,
       43.741, 25.678, 41.048, 30.421, 26.736, 15.673, 50.792, 41.626,
       48.033, 27.274, 38.386])

In [128]:
rfr.score(X_test,Y_test)

0.7129780025070773

From the above models here we can see that Random forest regressor is giving the more accuracy